<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1} %m%n" />
        </layout>
    </appender>

    <appender name="async" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="8192" />
        <param name="Blocking" value="false" />
        <appender-ref ref="console"/>
    </appender>

    <logger name="com.qrra.spring" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="async"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="async"/>
    </logger>

    <root>
        <level value="ERROR"/>
        <appender-ref ref="async"/>
    </root>
</log4j:configuration>